.game--restart {
  display: block;
  margin: 35px auto;
  width: 33%;
  font-family: "Permanent Marker", cursive;
  color: white;
  font-size: 20px;
  padding: 5px;
  letter-spacing: 4px;
  cursor: pointer;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.322);
  background-color: transparent;
}
